<%- include('public/partials/base')-%>
<div class="flex-column gap">
	<div id="menu-controls" class="option-container flex center gap">
		<div id="branded-item-button" class="upload-option" attr="branded-item">
			Branded Items
		</div>
		<div id="create-group-button" class="upload-option selected" attr="create-group">
			Create Group
		</div>
		<div id="add-item-button" class="upload-option" attr="add-item">
			Add Item
		</div>
	</div>
	<section id="create-group" class="flex space-evenly">
		<div id="available-ingredients" class="flex-column">
		<%ingredients.forEach(function(ingredient, index){%>
			<div class="flex space-between gap">
				<div><%=ingredient.name%></div>
				<button class="ingredient-add-button" attr-name="<%=ingredient.name%>" attr-id="<%=ingredient._id%>">Add</button>

			</div>
		<%})%>
		</div>
		<div id="group-container" class="flex-column">
			<div class="flex-column gap">
				<label for="group-name">Name Of Group</label>
				<div class="flex gap space-between">
					<input id="new-group-name" style="width: 30ch" name="group-name" type="text">
					<button id="submit-new-group-button">Submit</button>

				</div>
				<h3>Ingredients</h3>
			</div>
			
			
		</div>
		
	</section>

	<section id="branded-item" class="flex space-evenly hide">
		<div class="flex-column">
			<span class="">Item Name</span>
			<input type="text" id="manual-input-item-name">
			<span class="">Ingredients</span>
			<textarea id="manual-input-item-ingredients" cols="50" rows="10"></textarea>
			<div id="post-ingredient-button" class="upload-option">Add Ingredient</div>
		</div>
		<div class="ingredient-search-container flex-column">
			<span>Barcode Numbers</span>
			<input id="search-input" type="text">
			<div class="flex">
				<span id="search-status">Status</span>
			</div>
			<div id="fetch-button" class="upload-option">Search USDA</div>
			
		</div>
		
	</section>

	<section id="add-item" class="form-container flex-column center hide">
		<form class="form-fields flex-column pad" method="POST" href="/upload">
			<label for="item-name">Item Name</label>
			<input type="text" label="item-name" name="name">
			<label for="ingredients">Ingredients</label>
			<textarea type="text-area" label="ingredients" rows=10 name="ingredientString"></textarea>

			<div class="checkbox-container flex wrap">
				
				<div class="checkbox"><input type="checkbox" name="allergy" value="gluten"><label for="">Gluten</label></div>
				<div class="checkbox"><input type="checkbox" name="allergy" value="dairy"><label for="">Dairy</label></div>
				<div class="checkbox"><input type="checkbox" name="allergy" value="egg"><label for="">Egg</label></div>
				<div class="checkbox"><input type="checkbox" name="allergy" value="fish"><label for="">Fish</label></div>
				<div class="checkbox"><input type="checkbox" name="allergy" value="shellfist"><label for="">Shellfish</label></div>
				<div class="checkbox"><input type="checkbox" name="allergy" value="soy"><label for="">Soy</label></div>
				<div class="checkbox"><input type="checkbox" name="allergy" value="peanut"><label for="">Peaut</label></div>
				<div class="checkbox"><input type="checkbox" name="allergy" value="treenut"><label for="">Tree Nut</label></div>
				<div class="checkbox"><input type="checkbox" name="allergy" value="sesame"><label for="">Sesame</label></div>
			</div>
			<div>
				<button>Submit</button>
			</div>
		</form>
		
	</section>
</div>
<script src="public/js/upload.js"></script>
<%- include('public/partials/close')-%>